/* Configuração básica para tirar os preenchimentos padrões do arquivo*/
* {
    padding: 0;
    margin: 0;
}

/*Estilo do container*/
#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

/*Estilo do personagem*/
#personagem {
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 480px;
    animation: personagem 5s infinite linear;
}

/*Animação do personagem*/
@keyframes personagem {
    0% {left: 480px}
    100%{left:-40px}
}

/*Estilo do obstaculo*/
#quadrado {
    width: 20px;
    height: 50px;
    background-color :red;
    position: relative;
    top: 150px;
}

/*Facilitador pro JavaScript, pra colocar remove e add no character*/
.animar {
    animation: quadrado 600ms infinite;
} 

/*Animação para o obstaculo pular*/
@keyframes quadrado{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
